.message {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.imageAndText {

}

.imageAndText img {
    width: 70px;

}

.text {

}

.text:after {

}

.name {

}

.messageText {

}

.time {

}