.radio {
}

.radio::before {
}


.radio:checked::before {
}

.label {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.options {
    display: grid;
    grid-template-rows: auto;
    row-gap: 10px
}
