.App {
    --header_height: 60px;
    padding: 50px;
    width: 1000px;
}

.hw {
    display: flex;
    flex-direction: column;
}

.hwMain {
    display: flex;
    flex-direction: column;
}

.hwTitle {
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    border-bottom: 1px solid #D9D9D9;
    width: 100vw;
}